.reactionInner {
    display: flex;
    justify-content: center;
    padding: 50px 10px 30px;
    background-color: #E5E5E5;
}

.reactionSecondary {
    max-width: 680px;
    width: 100%;
    margin-left: 150px;
}

.likesBlock {
    max-width: 680px;
    width: 100%;
    margin-bottom: 50px;
}

.likesBlock {
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    margin-top: 10px;
    max-width: 640px;
    width: 100%;
    text-align: center;
    height: 360px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 209px);
    grid-gap: 34px;
    overflow-y: scroll;
}

.likesItem {
    position: relative;
    max-width: 209px;
    height: 140px;
    width: 100%;
    transition: all .3s;
}

.likesItem:hover .delItem{
    display: grid;
}

.delItem {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #FF868E;
    border-radius: 10px;
    display: none;
}

.likesItem img {
    width: 100%;
    object-fit: cover;
    height: 140px;
}

/* .likesItem::after {
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 134, 142, 0.6);
    border-radius: 20px;
    z-index: 100;
    opacity: 0;
}

.likesItem:hover::after {
    opacity: 1;
} */

@media(max-width: 1220px) {
    .reactionSecondary {
        margin-left: 30px;
    }
}

@media(max-width: 1090px) {
    .reactionInner {
        flex-direction: column;
    }

    .reactionPrimary {
        margin-bottom: 46px;
    }

    .reactionSecondary {
        margin-left: 0;
    }

    .likesBlock {
        height: auto;
    }

}

@media(max-width: 730px) {
    .likesBlock {
        padding: 14px 2px;
    }
}