.App {
  text-align: center;
  background-color: #FCFAF7;
  padding-bottom: 40px;
  /* height: 100vh; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

*,
*::before *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

div{
  box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

.container {
  max-width: 1822px;
  margin: 0 auto;
  width: 100%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

hr{
  margin: 0;
}

ul,
ol {
  padding: 0;
}

ul li,
ol li {
  list-style: none;
}

h1::before,
h2::before,
h3::before,
h4::before {
  display: none;
}

p{
  margin-bottom: 0;
}

h1, h2, h3, h4{
  margin: 0;
  padding: 0;
}

.mainTitle{
  font-size: 86px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.mainSubtitle{
  margin-top: 14px;
  font-size: 20px;
  line-height: 100%;
  text-transform: initial;
  display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.primaryBtn{
  margin: 0 auto;
  cursor: pointer;
  display: block;
  color: #fff;
  background-color: #3c9bb8;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  text-align: center;
  padding: 8px 10px;
  min-width: 215px;
  box-sizing: border-box;
  transition: .3s;
  max-height: 50px;
}

/*
////////////////entry-form
*/

.entryForm {
  padding-top: 100px;
  max-width: 660px;
  width: 100%;
  margin: 0 auto 0 200px;
}

.cardLabel {
  display: block;
  margin-bottom: 18px;
  font-weight: 400;
  font-family: Montserrat-Regular;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
}

.cardInput {
  display: block;
  font-weight: 400;
  font-size: 26px;
  line-height: 28px;
  color: #8f8f8f;
  box-sizing: border-box;
  padding: 8px 18px;
  border: 1px solid #c5c6c9;
  margin-bottom: 40px;
}

/*
  ///////////////product page 
*/

.main {
  padding-top: 140px;
  display: flex;
  font-family: "Root UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Arial, sans-serif;
    justify-content: center;
}

/*product image*/
/* .main_img {
  margin-top: 20px;
} */

/*product description*/
/* .product_name {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 0px;
} */

.product_path {
  display: inline-flex;
  color: #595959;
}

.product_label:hover,
.product_type:hover,
.product_subtype:hover {
  color: #115080;
  cursor: pointer;
}

.flag::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 10px solid white;
}

.form {
  display: flex;
  flex-direction: column;
}

.form {
  margin-bottom: 60px;
}

.choose_form:hover {
  cursor: pointer;
}

.button_buy:hover {
  background-color: #595959;
  cursor: pointer;
}

.button_bookmarks:hover {
  background-color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.links {
  display: inline-flex;
  width: 110%;
  justify-content: space-between;
}

.link:visited {
  color: #000;
}
.link:hover {
  background-color: #ccc;
}